@import url("https://fonts.googleapis.com/css?family=Open+Sans:300");
.navbar-brand img {
  height: 25px;
  width: auto; }

.cinput {
  border: 1px solid #000;
  border-radius: 0;
  border-right: none; }

.cbutton {
  border: 1px solid #000;
  border-radius: 0;
  border-left: none;
  background-color: #fff; }

.navbar {
  margin-bottom: 0 !important;
  font-weight: 600; }
  .navbar li a {
    padding-left: 20px;
    padding-right: 20px; }

.navbar-default {
  background-color: #fff !important; }

#navbar2 {
  background-color: #0078D7;
  height: 70px; }
  #navbar2 ul {
    list-style: none; }
  #navbar2 li {
    display: inline; }
    #navbar2 li a {
      line-height: 70px;
      padding: 25px 25px;
      font-weight: bold;
      color: #fff;
      font-size: normal; }
    #navbar2 li a:hover {
      background-color: #006CC1; }

body {
  font-family: 'Open Sans', sans-serif; }

.container {
  width: 1200px; }

#section1 .hero_image {
  background-image: url("https://compass-ssl.xboxlive.com/assets/57/a3/57a3fa18-81f8-4d96-b494-37b4e04b97eb.jpg?n=Hololens_COMMERCIAL_1920_Hero_Img_new.jpgb");
  height: 400px;
  background-color: #fff;
  background-repeat: no-repeat;
  background-size: cover; }
#section1 .hero_section {
  background-color: #0078D7;
  color: #fff;
  padding: 50px 0; }
  #section1 .hero_section h1 {
    font-size: 4em;
    font-weight: lighter; }
  #section1 .hero_section p {
    font-size: 1.3em; }
  #section1 .hero_section a {
    color: #fff;
    font-weight: bold;
    font-size: 1.5em; }

#section2 {
  padding: 60px 0;
  text-align: center;
  background-color: #2F2F2F;
  color: #fff; }
  #section2 .btncustom {
    color: #fff;
    background-color: #0078D7;
    border: none;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    margin-top: 15px; }
  #section2 .btncustom:hover {
    background-color: #006CC1; }

#section3 {
  color: #2F2F2F;
  background-color: #fff;
  text-align: center;
  padding: 50px 0; }
  #section3 h1 {
    font-size: 4em; }
  #section3 p {
    font-weight: bold;
    font-size: 1.3em; }

.info_container {
  padding: 70px 50px;
  color: #fff; }
  .info_container img {
    height: 25px;
    width: auto; }
  .info_container h1 {
    font-size: 3em; }
  .info_container p {
    font-weight: normal;
    font-size: 1.5em;
    margin: 20px 0; }
  .info_container a {
    color: #fff;
    font-size: 1.7em;
    margin-top: 70px; }

#section4 {
  background-color: #2F2F2F; }
  #section4 .img_container {
    height: 640px;
    background-size: cover;
    background-image: url("https://compass-ssl.surface.com/assets/1e/25/1e259321-3e55-44af-9cfd-570bb2b860af.jpg?n=Hololens_COMMERCIAL_1920_Volvo_Img_Equality.jpg"); }

.play {
  color: #fff;
  font-size: 100px;
  font-weight: 100;
  height: 100%;
  width: 100%;
  display: table; }
  .play i {
    display: table-cell;
    vertical-align: middle;
    text-align: center; }

.play:hover {
  background: rgba(0, 0, 0, 0.7); }

#section5 {
  background-color: #2F2F2F; }
  #section5 .img_container {
    height: 640px;
    background-size: cover;
    background-image: url("https://compass-ssl.surface.com/assets/8c/82/8c823345-b01b-4975-88b5-ea9ebb639bc8.jpg?n=Hololens_COMMERCIAL_1920_Autodesk_Img.jpg"); }

.modal .modal-dialog {
  width: 100%;
  position: absolute;
  top: 2%;
  bottom: 0;
  left: 0;
  z-index: 5;
  overflow: auto;
  overflow-y: auto; }

.modal-header {
  background-color: #000; }
  .modal-header span {
    color: #fff;
    font-size: 25px; }

#section6 {
  background-image: url("https://compass-ssl.surface.com/assets/17/68/1768e47b-137d-4dbe-857b-7bc62018da66.jpg?n=Hololens_COMMERCIAL_1920_Interstitial_ImgCut-TEST.jpg");
  min-height: 600px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

#section7 {
  color: #2F2F2F;
  text-align: center;
  padding: 50px 0; }
  #section7 h1 {
    font-size: 3em; }
  #section7 p {
    font-size: larger; }
  #section7 a {
    font-weight: bolder;
    font-size: large; }

#section8 {
  text-align: center; }
  #section8 .row_space {
    margin: 0 0 70px 0; }
  #section8 .company_anchor {
    font-size: larger;
    font-weight: bolder;
    margin: 30px 0; }

#section9 #partner {
  border-top: 1px solid #E3E3E3;
  border-bottom: 1px solid #E3E3E3;
  padding-bottom: 20px;
  padding-top: 50px;
  text-align: center;
  font-size: 1.5em;
  margin-bottom: 40px; }
  #section9 #partner p {
    padding: 0 300px;
    font-weight: 500;
    font-size: large; }

#section10 h1 {
  margin: 20px 0;
  font-size: xx-large; }
#section10 div {
  margin: 50px 0; }
#section10 a {
  padding: 10px 0;
  display: block;
  font-weight: bold;
  font-size: initial;
  border-bottom: 1px solid #E3E3E3;
  border-top: 1px solid #E3E3E3; }

#section11 {
  margin-top: 50px; }
  #section11 img:hover > .overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #000;
    opacity: 0.5; }
  #section11 .gray_bottom_bar {
    background-color: #2F2F2F;
    color: #fff;
    text-align: center;
    height: 70px;
    line-height: 70px; }
    #section11 .gray_bottom_bar h1 {
      margin-top: auto;
      line-height: inherit; }

#section12 {
  margin: 50px 0;
  text-align: center; }
  #section12 h1 {
    font-size: xx-large;
    margin-bottom: 30px; }
  #section12 h4 {
    font-weight: bold; }

#section13 {
  padding: 70px;
  background-color: #E3E3E3;
  text-align: center; }
  #section13 i {
    display: block;
    font-size: 30px; }
  #section13 a > i:hover {
    text-decoration: none; }

#section14 {
  background-color: #0078D7;
  color: #fff;
  height: 50px;
  line-height: 50px;
  font-size: medium;
  font-weight: bolder; }
  #section14 i {
    padding-left: 20px; }

#section15 {
  background-color: #F2F2F2;
  padding: 30px 0;
  font-size: small; }
  #section15 ul {
    list-style: none; }
  #section15 footer {
    padding: 20px 0;
    height: 50px;
    line-height: 50px; }
    #section15 footer a {
      color: #2F2F2F; }
    #section15 footer i {
      font-size: 30px;
      padding-right: 10px; }
    #section15 footer li {
      display: inline;
      padding-right: 10px; }

/* Slider */
/* Removes the default 20px margin and creates some padding space for the indicators and controls */
.carousel {
  margin-bottom: 0;
  padding: 0 40px 30px 40px; }

/* Reposition the controls slightly */
.carousel-control {
  left: -80px; }

.carousel-control.right {
  right: -80px; }

/* Changes the position of the indicators */
.carousel-indicators {
  right: 50%;
  top: auto;
  bottom: 0px;
  margin-right: -19px; }

/* Changes the colour of the indicators */
.carousel-indicators li {
  background: #c0c0c0; }

.carousel-indicators .active {
  background: #333333; }

.carousel-control.right, .carousel-control.left {
  background-image: none; }
  .carousel-control.right i, .carousel-control.left i {
    background-color: #2F2F2F;
    padding-top: 10px;
    padding-right: 2px;
    padding-bottom: 45px; }

.thumbnail {
  display: block;
  padding: 20px;
  line-height: 1.42857143;
  background-color: #fff;
  border: none;
  text-align: center; }

/*# sourceMappingURL=style.css.map */
